:root {
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  font-size: 10px;
  color: #000;
  --primary-color: #26798E;
  --secondary-color: #63CAA7;
  --tertiary-color: #FFC172;
  --body-bg-color: #FFE3B3;
  --text-primary-color: #f4fbf9;
  --text-secondary-color: #2C3333;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}