:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark light;
  color: #000;
  background-color: #FFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primary-color: #26798E;
  --secondary-color: #63CAA7;
  --tertiary-color: #FFC172;
  --body-bg-color: #FFE3B3;
  --text-primary-color: #f4fbf9;
  --text-secondary-color: #2C3333;
}

h1, p {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--body-bg-color);
  padding: 0;
}

#app {
  color: var(--text-secondary-color)
}

header {
  position: sticky;
  top: 0;
  background-color: var(--secondary-color);
  height: 8rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  padding: 0.8rem;
  text-align: center;
}

header .logo{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 10rem;
  height: 6rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

main .welcome-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1.5rem;
  background-color: var(--tertiary-color);
  color: var(--text-secondary-color);
  height: fit-content;
}

main .welcome-message .welcome-message__text {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
}

main .welcome-message .welcome-message__text h1 {
  font-size: 2.5rem;
  line-height: 2;
}

main .welcome-message .welcome-message__text p {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-primary-color);
  background-color: var(--primary-color);
}

main .welcome-message img {
  width: 24rem;
}

main .about-me {
  padding: 3rem 1rem 3rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  height: fit-content;
}

main .about-me h2 {
  font-size: 2rem;
  background-color: var(--primary-color);
  color: var(--text-primary-color);
  width: fit-content;
}

main .about-me img{
  width: 30rem;
  height: 30rem;
}

main .about-me p {
  line-height: normal;
  font-size: 1.5rem;
  margin: 1rem 0 1rem 0;
  padding-right: 1rem;
}

main .about-me h3 {
  font-size: 1.8rem;
}

main .side-projects {
  min-height: 25vh;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3rem 0rem 3rem 0;
  height: fit-content;
}

main .side-projects img {
  width: 30rem;
  height: 30rem;
}

main .side-projects .projects {
  min-height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

main .side-projects .projects h2 {
  font-size: 1.8rem;
  background-color: var(--primary-color);
  color: var(--text-primary-color);
}

main .side-projects .projects h3 {
  font-size: 2.4rem;
}

footer {
  background-color: var(--secondary-color);
  height: 8rem;
  color: var(--text-primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

footer a {
  text-decoration: none;
}

footer a:focus, footer a:visited {
  color: currentColor;
}

@media (max-width: 720px){
  header {
    justify-content: center;
  }

  main .welcome-message {
    flex-direction: column;
  }

  main .welcome-message .welcome-message__text {
    text-align: left;
    align-items: flex-start;
  }

  main .welcome-message .welcome-message__text h1 {
    font-size: 2rem;
    line-height: 1.5;
  }
  
  main .welcome-message img {
    width: 20rem;
  }

  main .about-me {
    flex-direction: column-reverse;
  }

  main .about-me img {
    width: 20rem;
    height: 20rem;
  }

  main .side-projects {
    padding: 1rem;
    flex-direction: column;
  }

  main .side-projects .projects {
    align-items: flex-start;
  }

  main .side-projects .projects  h3{
    align-self: center;
  }
}
