:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 10px;
  --primary-color: #2C3333;
  --secondary-color: #2E4F4F;
  --tertiary-color: #0E8388;
  --success-color: #2ECC71;
  --error-color: #C9474E;
  --disabled-color: #778899;
  --text-primary-color: #CBE4DE;
  --text-secondary-color: #FFFFFF;
  --xl-text-size: 3.2rem;
  --l-text-size: 2rem;
  --m-text-size: 1.6rem;
  --s-text-size: 1.2rem;
  --xs-text-size: 0.8rem;
  --laptop-screen-size: 102.4rem;
  --phone-screen-size: 72rem;
  color: var(--text-primary-color);
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, figure, img, small, ul, li, button {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--secondary-color);
  padding: 0;
  margin: 0;
  min-width: 32rem;
}

a {
  text-decoration: none;
  color: var(--text-secondary-color)
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: inherit;
}

strong, b {
  font-weight: bold;
  color: var(--text-secondary-color)
}

article {
  max-width: 100vw;
}

*::placeholder {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--m-text-size);
}

input, textarea {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  position: fixed;
  display: flex;
  background-color: var(--tertiary-color);
  color: var(--text-secondary-color);
  justify-content: center;
  align-items: center;
  width: fit-content;
  top: .4rem;
  left: 50%;
  padding: 1rem 0;
  font-size: var(--xs-text-size);
  text-align: center;
  gap: 1.2rem;
  padding: 1.2rem;
  border-radius: 2rem; 
  transform: translateX(-50%);
}

main {
  padding-top: 4rem;
}

main .presentation {
  padding: 2.4rem 2.4rem 0 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 5rem;
  height: 100vh;
}

main .presentation h1 {
  line-height: 2;
  font-size: var(--l-text-size);
}

main .presentation h1 span {
  color: var(--text-secondary-color);
  display: inline-block;
}

main .presentation .presentation__experience {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  width: 100%;
  font-size: var(--m-text-size);
  font-weight: bold;
  max-width: 102.4rem;
}

main .presentation .presentation__experience p{
  background-color: var(--primary-color);
  width: fit-content;
  color: var(--text-secondary-color);
  text-align: end;
}

main .about-me {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

main .about-me img {
  width: 34rem;
  height: 34rem;
}

main .about-me .about-me__text {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 102.4rem;
}

main .about-me .about-me__text h2,h3 {
  font-size: var(--l-text-size);
}

main .about-me .about-me__text p {
  font-size: var(--m-text-size);
  line-height: 1.4;
  color: var(--text-secondary-color)
}

main .experiences-article {
  background-color: var(--primary-color);
  padding: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main .experiences-article .experiences {
  display: flex;
  flex-flow: column nowrap;
  height: fit-content;
  justify-content: center;
  gap: 1.6rem;
  max-width: var(--laptop-screen-size);
  width: fit-content;
}

main .experiences-article h2 {
  align-self: center;
  font-size: var(--l-text-size);
  margin-bottom: 1.6rem;
}

main .experiences .experience {
  display: grid;
  grid-template-areas: 
    "logo logo"
    "experience-name date"
    "position-name position-name"
    "description description"
    "stack stack";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 28px 18px auto;
  place-items: center;
  align-items: start;
  gap: 1.2rem;
  border: 4px solid var(--secondary-color);
  border-radius: 4px;
  padding: 1.2rem;
  min-width: 24rem;
  max-width: 44.8rem;
}

main .experiences .experience img {
  grid-area: logo;
  width: 5rem;
  height: 5rem;
  align-self: center;
}

main .experiences .experience h3 {
  grid-area: experience-name;
  color: var(--text-secondary-color);
  font-size: var(--l-text-size);
  align-self: center;
  justify-self: end;
}

main .experiences .experience h4 {
  grid-area: position-name;
  color: var(--text-secondary-color);
  font-size: var(--m-text-size);
}

main .experiences .experience small {
  grid-area: date;
  font-size: var(--s-text-size);
  align-self: center;
  justify-self: start;
}

main .experiences .experience .description {
  grid-area: description;
  font-size: var(--s-text-size);
  display: flex;
  flex-direction: column;
  gap: .4rem;
  width: 100%;

}

main .experiences .experience .description h5 {
  font-size: var(--m-text-size);
  color: var(--text-secondary-color);
}

main .experiences .experience .description ul {
 list-style-type: none;
 font-size: var(--m-text-size);
}

main .experiences .experience .stack {
  grid-area: stack;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 1.2rem;
  max-width: 40rem;
}

main .experience .experience .stack img {
  width: 20px;
  height: 20px;
}

.contact-article {
  background-color: var(--primary-color);
  padding: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.contact-article__title {
  font-size: var(--l-text-size);
  margin-bottom: 1.6rem;
  align-self: center;
}

.contact-article__form {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  gap: 1.6rem;
  width: calc(100% - 4.8rem);
  max-width: var(--phone-screen-size);
}

.contact-article__form__field {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: .4rem
}

.contact-article__form__field__label {
  font-size: var(--m-text-size);
  color: var(--text-secondary-color);
  font-weight: bold;
}

.contact-article__form__field__input {
  width: 100%;
  padding: .8rem 1.2rem;
  border-radius: .4rem;
  font-size: var(--m-text-size);
}

.contact-article__form__field__textarea {
  width: 100%;
  padding: .8rem 1.2rem;
  resize: none;
  overflow: hidden;
  border-radius: .4rem;
  font-size: var(--m-text-size);
}

.contact-article__form__submit {
  width: 50%;
  padding: .8rem 1.2rem;
  border-radius: .4rem;
  background-color: var(--secondary-color);
  color: var(--text-secondary-color);
  font-weight: bold;
  font-size: var(--m-text-size);
  cursor: pointer;
  transition: all .2s ease-in-out;
  border: none;
}

.contact-article__form__submit:disabled {
  background-color: var(--disabled-color);
  color: var(--text-secondary-color-disabled);
  cursor: not-allowed;
}

.contact-article__form__field__input:disabled, 
.contact-article__form__field__textarea:disabled {
  background-color: var(--disabled-color);
  cursor: not-allowed;
}

.contact-article__form__field__input:focus, 
.contact-article__form__field__textarea:focus {
  outline: none;
}

.contact-article__form__submit__message {
  font-size: var(--m-text-size);
  color: var(--text-secondary-color);
  font-weight: bold;
  align-items: center;
  flex-direction: column;
  gap: .8rem;
  display: none;
}

@media only screen and (min-width: 1024px) {
  main .experiences-article .experiences {
    flex-flow: row wrap;
  }
}